.menuFilterContainer
    display: flex
    justify-content: space-around
    padding-top: 2em

    width: 50%
    margin: 0px auto
    .option
        font-size: 1.2rem
        color: #acacac
        font-weight: 700
        &:hover
            background-color: #fff
            padding: 0px 10px
